.footer{
    background-color: #241D1A;
    text-align: center;
    padding: 5%;
    border-color: #241D1A;
    background-attachment: fixed;
    background-position: center;
    color: #9A857B;

}

